* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- 1. Styling the grid --- */

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  border: 2px solid #777;
  margin: 3rem auto;
}
